<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexDemo_viewData</title>
</head>
<body>
    <h2>Utilizando View Data</h2>
    <h2>@ViewData["Message"]</h2>
    <p> Son @ViewData["CustomerCount"] clientes agregados en la lista.</p>

    <table>
        <thead>
            <tr>
                <th>Customer Id</th>
                <th>Customer Name</th>
                <th>Customer Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewData["CustomerList"] as List<Customer>)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
